@charset "utf-8";

/* 基本 */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #D8F3EA;
    color: #222;
    font-family: "Zen Maru Gothic", sans-serif;
}

.common-container {
    width: min(92%, 1150px);
    margin: auto;
}

.img {
    display: block;
}

p {
    line-height: 1.8;
}

h1,
h2,
h3 {
    font-family: "Yusei Magic", sans-serif;
}


a {
    color: #222;
    text-decoration: none;
}

a:visited {
    color: #fff;
}

ul {
    list-style: none;
}

/* ヘッダー */

.header {
    height: 120px;
    background-color: #66cdaa;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: solid 5px #fff;
    /* ハンバーガーメニュー用に追加 */
    z-index: 200;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.header_bg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}


.header h1 {
    font-size: clamp(1rem, 0.5385rem + 2.0513vw, 3rem);
    min-height: 0vw;
}

h2,
section {
    scroll-margin-top: 125px;
}

/* ナビゲーション */

.nav a {
    font-family: "Yusei Magic", sans-serif;

}

/* ナビゲーションボタン */
.toggle {
    z-index: 50;
}

@media(min-width:1150px) {
    .toggle {
        display: none;
    }
}

@media(min-width:913px) {

    /* タブレット・PCサイズ時にはハンバーガーメニューを消す */
    .nav-btn {
        display: none;
    }
}

/* ＊＊＊＊＊＊ナビゲーションメニュー＊＊＊＊＊＊ */
/* PC時 */
@media(min-width:912px) {

    .nav ul {
        display: flex;
        justify-content: space-around;
        gap: 40px;
        color: #222;
        list-style-type: none;
        line-height: 3rem;
    }

    .nav ul li a {
        display: block;
        text-align: center;
        line-height: 4rem;
    }
}


/* スマホ時 */
@media(max-width:912px) {
    .nav {
        display: block;
        position: absolute;
        /* メニューの高さ以上マイナスにする */
        top: -1000%;
        /* 左端を合わせる */
        left: 0;
        background: #66cdaa;
        width: 100%;
        z-index: 30;
        transition: 500ms;

    }

    /* htmlに .open がついた時の nav の位置 */
    .open .nav {
        /* ヘッダーのすぐ下（120px）に止まる */
        top: 120px;
    }

    .nav ul {
        padding-left: 0;
    }

    .nav ul li {
        text-align: center;
        border-bottom: 0.1rem solid #fff;
    }

    .nav ul li a {
        display: block;
        padding: 20px;
        /* タップしやすい広さに */
    }
}

/* ＊＊＊＊猫の手ボタン＊＊＊＊ */
.cat-btn {
    position: relative;
    display: inline-block;

    overflow: hidden;
    /* はみ出た猫の手を隠す */
    transition: background-color 0.3s;
}

/* 猫の手の初期状態 */
.cat-hand {

    position: absolute;
    bottom: -50px;
    /* ボタンの下側に隠しておく */
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 50px;
    background-image: url('../images/cathand.png');
    /* 猫の手の画像パス */
    background-size: contain;
    background-repeat: no-repeat;
    transition: bottom 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* ぷにっと動く演出 */
}

/* ホバーした時の動き */
.cat-btn:hover .cat-hand {
    bottom: -15px;
    /* ひょこっと顔を出す位置まで移動 */
}








/* フッター */
.footer {
    background-color: #66cdaa;
    border-top: solid 5px #fff;
    padding: 50px 0;
}

.footer-site {
    text-align: center;
    margin-bottom: 1rem;
}

.snsIcon {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.footer-menu {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer-copy {
    text-align: center;
}




/* ＊＊＊＊＊＊ヒーローイメージ＊＊＊＊＊＊ */
.hero {
    display: grid;
    grid-template-rows: 650px;
}

.hero>* {
    grid-area: 1 / 1;
}

.hero>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hero-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom: solid 5px #fff;
    /*text-align: center;*/
}

.hero h2 {
    /* font-size clamp genetatorで算出 */
    font-size: clamp(2rem, 1.2025rem + 3.5443vw, 3.75rem);
    min-height: 0vw;
    align-self: flex-start;
    margin-top: 12rem;
    margin-left: 3rem;
    color: #000;
}

.hero p {
    margin-left: 10rem;
}

/* スマホ時の画像高さの調整 */
@media(max-width:768px) {
    .hero {
        grid-template-rows: 250px;
    }

    .hero-container h2 {
        font-size: clamp(1.5rem, 0.8165rem + 3.038vw, 3rem);
        align-self: flex-start;
        margin-top: 20%;
        margin-left: 5%;
    }

    .hero-container p {
        font-size: clamp(0.75rem, 0.6361rem + 0.5063vw, 1rem);
        margin-left: 15%;
    }
}

/* 走る猫のアニメーション*/

@keyframes infinity-scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


.scroll-infinity {
    position: relative;
}

.scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 100%;
    /* ul自体が最低でも画面幅以上になるようにする */
}

.scroll-infinity__list--left {
    animation: infinity-scroll-left 8s linear infinite;
}

.scroll-infinity__item {
    width: 10vw;
    flex-shrink: 0;
    /* 幅が縮まないように固定 */
}

.scroll-infinity__item.spacer {
    width: 100vw;
    flex-shrink: 0;
}

.scroll-infinity__item img {
    width: 100%;
    display: block;
    object-fit: contain;
    height: auto;
}

.scroll-infinity__item a {
    display: block;
    width: 100%;
    text-decoration: none;
    line-height: 0;
}

@media screen and (max-width: 767px) {
    .scroll-infinity__item {
        width: 90px;
        /* スマホでは猫を少しだけ小ぶりに */

    }

    .scroll-infinity__item img {
        width: 100%;
        /* liの幅(90px)に合わせる */
    }

    .scroll-infinity__item.spacer {
        width: 100vw;
    }

    .scroll-infinity__item a:hover {
        opacity: 0.8;
    }
}

.scroll-infinity__item a {
    display: block;
    line-height: 0;
    /* 画像の下にできる謎の隙間を消す */
}


.scroll-infinity__item a:hover {
    opacity: 0.8;
}


/* ＊＊＊＊＊＊セクション共通＊＊＊＊＊＊ */
.sectionTitle {
    display: flex;
    border-bottom: solid 25px #7665cd;
    margin: 2rem 0;
}

.sectionTitle h2 {
    font-size: clamp(1.5rem, 1.2722rem + 1.0127vw, 2rem);
    line-height: 1.5;
    scroll-margin-top: 120px;
}

/* ABOUT ME */
.aboutMe-container {
    display: flex;
    justify-content: center;
}

.aboutMe-contents figure {
    text-align: center;
}

.aboutMe-text h3 {
    font-size: clamp(1rem, 0.7692rem + 1.0256vw, 2rem);
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    border-bottom: solid 0.7rem #fff;
    text-align: center;
}

@media(min-width:768px) {

    .aboutMe-contents {
        display: flex;
        gap: 5rem;

    }

    .aboutMe-text h3 {
        margin-top: 0;
        text-align: left;
    }

}

/* SKILL */
.skill-container {
    display: flex;
    justify-content: center;

}

.skill-list i {
    font-size: 100px;
    color: #000;
}

.skillIcon {
    line-height: 2;
}

.skill-container ul {
    display: flex;
}

.skill-list01,
.skill-list02 {
    text-align: center;
}

.skill p {
    text-align: center;
}


.skill-list02 {
    margin: 10px;
    gap: 2rem;
}

@media(min-width:768px) {


    .skill-list {
        display: flex;
        gap: 3rem;
        justify-content: center;
    }

    .skill-list02 {
        margin-top: 0;
    }
}

/* WORKS */


.works-list {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

/* 詳しく見るボタン */
.works-btn-container {
    display: flex;
    justify-content: center;

}

.works-btn {
    margin-top: 4rem;
    display: block;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #25745d;
    border: none;
}

.works-btn a {
    color: #fff;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 18px;
    display: block;
}

/* CONTACT */


.submit-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #25745d;
    border: none;
    color: #fff;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
}

.contact-container .fa-brands {
    font-size: 60px;
    margin-bottom: 20px;
    color: #222
}


/* ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
　　　　　　WROKSページ
＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
.worksTop {
    display: grid;
    grid-template-rows: 400px;
    border-bottom: solid 20px #fff;
}

.worksTop>* {
    grid-area: 1 / 1;
}

.worksTop>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像の見える位置を指定 */
    object-position: 80% 0%;
}

.worksTop_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*text-align: center;*/
}

.worksTop_container h2 {
    /* font-size clamp genetatorで算出 */
    font-size: clamp(2rem, 1.2025rem + 3.5443vw, 3.75rem);
    min-height: 0vw;
    color: #000;
}


/* スマホ時の画像高さの調整 */
@media(max-width:768px) {
    .worksTop {
        grid-template-rows: 250px;
    }

    .worksTop_container h2 {
        font-size: clamp(1.5rem, 0.8165rem + 3.038vw, 3rem);
        /* align-self: flex-start; */
        /* margin-top: 20%;
        margin-left: 5%; */
    }

    .worksTop_container p {
        font-size: clamp(0.75rem, 0.6361rem + 0.5063vw, 1rem);
        /* margin-left: 15%; */
    }
}

/* 走る猫のアニメーション*/

@keyframes infinity-scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


.scroll-infinity {
    position: relative;
}

.scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.scroll-infinity__list--left {
    animation: infinity-scroll-left 8s linear infinite;
}

.scroll-infinity__item {
    width: 10vw;
    flex-shrink: 0;
    /* 幅が縮まないように固定 */
}

.scroll-infinity__item.spacer {
    width: 50vw;
}

.scroll-infinity__item>img {
    width: 100%;
    display: block;
    object-fit: contain;
}

@media screen and (max-width: 767px) {
    .scroll-infinity__item img {
        width: 90px;
        /* スマホでは猫を少しだけ小ぶりに */

    }

    .scroll-infinity__item.spacer {
        width: 90vw;
        /* 隙間をスマホの画面幅に合わせて調整 */
        height: auto;
    }
}

table,
tr,
th,
td {
    border-collapse: collapse;
    border: solid 0.2rem #7665cd;
    padding: 1rem;
    background-color: #fff;
}

/* personal_p-contents */
.personal_p-container figure {
    text-align: center;
}

.personal_p_site figure {
    text-align: center;
}



.pp-banner figure {
    margin-bottom: 2rem;
    text-align: center;
}

.personal_p-contents h3 {
    font-size: clamp(1rem, 0.7692rem + 1.0256vw, 2rem);
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    border-bottom: solid 0.7rem #fff;
}

.personal_p-contents {
    margin: 5rem 0;
}

@media(min-width:768px) {
    .personal_p-contents {
        display: flex;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }

    .pp-banner {
        display: flex;
        flex-direction: column;
    }


}

/* group_p_site-contents */
.group_p_site-contents h3 {
    font-size: clamp(1rem, 0.7692rem + 1.0256vw, 2rem);
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    border-bottom: solid 0.7rem #fff;
}

.group_p_site-contents {
    margin-bottom: 3rem;
}

.group_p_site figure {
    text-align: center;
}

@media(min-width:768px) {
    .group_p_contents {
        display: flex;
        gap: 3rem;
        justify-content: center;
        align-items: center;
    }

}

/* ＊＊＊＊＊＊＊＊＊＊
プライバシーポリシー
＊＊＊＊＊＊＊＊＊＊＊＊ */
.privacyPolicy-container {
    margin: 3rem 0;
}

.privacyPolicy-container h1 {
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: clamp(1.25rem, 1.1361rem + 0.5063vw, 1.5rem);
    line-height: 1.5;
    margin: 1rem 0;
    border-bottom: 2px solid #7665cd;
    text-align: center;
}

.privacyPolicy h2 {

    font-family: "Zen Maru Gothic", sans-serif;
    font-size: clamp(1rem, 0.8861rem + 0.5063vw, 1.25rem);
    line-height: 1.5;
    margin: 1rem 0;
    border-bottom: 2px solid #7665cd;
}


.privacyPolicy-container p,
li {
    line-height: 1.5;
}

/* ＊＊＊＊＊＊ＴＨＡＮＫＳ＊＊＊＊＊＊ */
.thanks-container {
    padding: 2rem 5rem 0 5rem;
}

.thanks-container:last-child {
    padding-bottom: 5rem;
}

.thanks-container p {
    margin-bottom: 1rem;
}

.signature {
    text-align: end;
}

@media(max-width:768px) {
    .thanks-container {
        padding: 0;
    }

    .thanks-container:last-child {
        padding-bottom: 0;
    }
}