@charset "utf-8";

html * {
	margin: 0;
	padding: 0;
}

body {
	font-family: serif;
	color: #333;
	margin: 0 auto;
	/* background-color: #fcf8d8; */
	background-image: url("../images/bg.jpeg");
}

#container {
	width: 960px;
	margin: 0 auto;
	background-color: #fcf8d8;
}

header {
	/*background-color: #9baff6;*/
	background-color: #95754b;
	height: 100px;
	padding-top: 20px;
	margin: 0 0 25px 0;
	position: relative
}


header p {
	position: absolute;
	font-size: 15px;
	top: 7px;
	left: 250px;
	color: #fcf8d8
}

.icon-list {
	position: absolute;
	right: 50px;
	bottom: 25px;
}

.fa-brands.fa-instagram {
	font-size: 3em;
}

.fa-brands.fa-x-twitter {
	font-size: 3em;
}

.fa-regular.fa-envelope {
	font-size: 3em;
}

.fa-regular.fa-envelope a {
	color: #333
}

.logo {
	float: left;
}

.logo_mark {
	fill: #fcf8d8;
	width: 110px;
	height: 110px;
	position: absolute;
	left: 100px;
	bottom: 5px;
}

.logo_text {
	fill: #fcf8d8;
	/*fill: none;*/
	/*stroke: #000;*/
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-width: .25px;
	width: 300px;
	height: 80px;
	position: absolute;
	left: 210px;
	bottom: 12px;
}



/* ナビゲーションバー */

nav {
	clear: both;
	margin-bottom: 20px;
}

nav ul {
	list-style-type: none;
	display: flex;
	gap: 1px;

}

nav ul li {
	flex: 1;

}

nav ul li a {
	display: block;
	text-decoration: none;
	width: 100%;
	line-height: 3;
	text-align: center;
	color: #fcf8d8;
	background-color: #95754b;
	position: relative;
	border-radius: 5px;
}

nav ul li a:hover {
	background-color: #fcf8d8;
	color: #95754b;
}

nav ul li a img {
	position: absolute;
	top: 10px;
	left: 35px;
}

/* トップ画像 */

.hero {
	background-image: url("../images/top1.jpg");
	width: 960px;
	height: 500px;
	color: #333;
	margin-bottom: 30px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-text {
	width: 400px;
	height: 500px;
	background-color: #fff;
	opacity: 0.8;
	margin-left: 30px;
	padding: 60px 40px;
}

.hero-text h2 {
	font-size: 30px;
}

.hero-text p {
	font-size: 20px;
	line-height: 1.5;
}


/* メイン領域 */
.content-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	margin-bottom: 30px;
}


main {
	width: 630px;
}

.campaign {
	background-image: url("../images/campaign_bg.jpg");
	width: 630px;
	height: 320px;
	position: relative;
	margin-bottom: 30px;
	/* border: solid 1px #95754b; */
}

.campaign h3 {
	font-size: 24pt;
	text-align: center;
	position: absolute;
	top: 1em;
	left: 2.5em;
	padding-bottom: 20px;
	border-bottom: solid #95754b;
}

.campaign p {
	font-size: 18pt;
	text-align: center;
	position: absolute;
	top: 7em;
	left: 3em;
}

.news {
	width: 630px;
	height: 350px;
	background-color: #fff;
	border: #95754b solid 1px;
	position: relative;
}

.news ul {
	list-style: none;
}

.news ul li {
	padding: 15px 0 15px 0;
	text-indent: 30px;
	border-bottom: dotted #95754b;
}

time {
	font-weight: bold;
	font-size: 20px;
}

.news ul li time {
	margin-right: 30px;
}

.news h3 {
	padding: 13px 0 13px 0;
	background-color: #95754b;
	color: #fff;
	text-indent: 30px;
	font-size: 18pt;
}

.pen {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* サブ領域 */

aside {
	width: 280px;
}

.sub {
	margin-bottom: 20px;
	width: 280px;
	height: 230px;
}

address p {
	font-size: 13px;
	font-style: normal;
}




/* フッター領域 */

footer {
	clear: both;
	height: 100px;
	/*background-color: #9baff6;*/
	background-color: #95754b;
	text-align: center;
	/* line-height: 100px; */
	/* font-size: 16pt; */
	color: #fcf8d8;
	/* border-radius: 10px 10px 0 0; */
}

.footer_nav ul {
	list-style-type: none;
	display: flex;
	padding: 20px 0;
	border-bottom: solid 1px #fcf8d8;
}

.footer_nav ul li {
	flex: 1;
}

.footer_nav ul li a {
	text-decoration: none;
	color: #fcf8d8;
}



/* 当店のこだわり */

.breadcrumb {
	margin-left: 15px;
	margin-bottom: 10px;
}

.breadcrumb ul {
	list-style-type: none;
	overflow: hidden;
}

.breadcrumb ul li {
	float: left;
}

.breadcrumb ul li a:visited {
	color: #95754b
}

.main_message h2 {
	background-color: #95754b;
	color: #fcf8d8;
	text-indent: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}